<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSFamilyControlsUsageDescription</key>
	<string>This app needs to block other apps during focus sessions to help you stay focused.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>NSSupportsLiveActivities</key>
    <true/>
    <key>NSSupportsLiveActivitiesFrequentUpdates</key>
    <true/>
</dict>
</plist>
